<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Artist Influence Graph | Samplify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  
  <body class="container">
    <img class="header-img" src="../img/record.png">
    <h1 id='title'>SAMPLIFY</h1>
    <p class="sub-title">Learn more about the influence of different time periods on your favorite artists.</p>
    <div class="center-div">
      <form action="/histogram" method="post" class="artist-form">
        <input type="text" class="form-control" placeholder="Artist to query" name="artist_one">
        <div style="margin-top: 10px"><div>
        <input class="btn btn-success next width-100" type="submit" value="Calculate">
      </form>  
    </div>
  </body>
</html>