<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Time Period Graph | Samplify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

  </head>

  <body>
    <div class="plot-container plotly">
      <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
    </div>
  </body>

  <script type="text/javascript">
    var string =(<%- JSON.stringify(data) %>);
    var data = string.substring(9, string.length);
    data = JSON.parse(data);
    console.log(data);
    var artist = (<%- JSON.stringify(artist) %>);
    var title = "Decade Influences on " + artist;

    $(function () {
      $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: title
        },
        subtitle: {
            text: 'Powered by Samplify'
        },
        xAxis: {
            categories: ['Before 1970', "1970's", "1980's", "1990's", '2000 & After'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of Samples',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            shared: true,
            pointFormat: '<span style="color: {series.color}>Total borrowed from this time period: <b>{point.y}</b><br/>'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: artist,
            data: [data.older, data.seventies, data.eighties, data.nineties, data.modern],
            color: '#5cb85c'
        }]
      });
    });
  </script>
</html>