<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script type="text/javascript" src="/scripts/raphael-min.js"></script>
    <script type="text/javascript" src="/scripts/dracula_graffle.js"></script>
    <script type="text/javascript" src="/scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/scripts/dracula_graph.js"></script>
    <script type="text/javascript" src="/scripts/dracula_algorithms.js"></script>
    <style type="text/css">
      body {
      overflow: hidden;
      }
    </style>
</head>
<body>
  <h2 id="title">Genealogy of </h2>
  <div class="center-div" id="canvas"></div>
</body>
<script>
  var string = (<%- JSON.stringify(data) %>);
  var data = string.substring(9, string.length);
  data = JSON.parse(data);
  console.log(data);
  console.log('BREAK');
  for (var x = 0; x < data.length; x++) {
    console.log(data[x][0]);
    for (var y = 0; y < data[x][1].length; y++) {
      console.log(data[x][1][y]);
    }
  }
</script>

<script>
  $(document).ready(function() {
    var width = $(document).width()/2;
    var height = $(document).height()/2;
    var g = new Graph();
    g.edgeFactory.template.style.directed = true;


    var string = (<%- JSON.stringify(data) %>);
    var data = string.substring(9, string.length);
    data = JSON.parse(data);
    var song = (<%- JSON.stringify(song) %>);
    $('#title').append(song);

    for (var x = 0; x < data.length; x++) {
      g.addEdge(song,data[x][0]);
      for (var y = 0; y < data[x][1].length; y++) {
          if (data[x][1][y] != null) g.addEdge(data[x][0],data[x][1][y]);
      }
    }

    var layouter = new Graph.Layout.Ordered(g, topological_sort(g));
    var renderer = new Graph.Renderer.Raphael('canvas', g, width, height);
  });
</script>
</html>
