<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Genre Influence Graph | Samplify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
  </head>

  <body>
    <div class="plot-container plotly">
      <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
      <div id="samples"></div>
    </div>
  </body>

  <script type="text/javascript">
    var string = (<%- JSON.stringify(data) %>);
    var data = string.substring(9, string.length);
    data = JSON.parse(data);
    console.log(data);
    var artist = (<%- JSON.stringify(artist) %>);
    var title = "Genre Influences on " + artist;

    $(function () {
      $('#container').highcharts({
        chart: {
            polar: true,
            type: 'area'
        },
        title: {
            text: title,
        },
        subtitle: {
            text: 'Powered by Samplify'
        },
        pane: {
            size: '80%'
        },
        xAxis: {
            categories: ['Hip-Hop/R&B', 'Electronic/Dance', 'Rock/Pop', 'Soul/Funk/Disco', 'Jazz/Blues','Reggae','Country/Folk','World','Soundtrack','Classical','Spoken Word','Easy Listening','Gospel','Other'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },
        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },
        tooltip: {
            shared: true,
            pointFormat: '<span style="color: {series.color}>Total samples borrowed from this genre: <b>{point.y}</b><br/>'
            // pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },
        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },
        series: [{
            name: artist,
            data: [data.hip.length, data.dance.length, data.rock.length, data.soul.length, data.jazz.length, data.reggae.length, data.country.length, data.world.length, data.soundtrack.length, data.classical.length, data.spoken.length, data.easy.length, data.gospel.length, data.other.length],
            pointPlacement: 'on',
            color: '#5cb85c'
        }]
      });
    });
  </script>
  <script>
    $('#samples').append("<b>Hip-Hop/R&B Samples</b><br>");
    for (var x = 0; x < data.hip.length; x++) {
        $('#samples').append(data.hip[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Electronic/Dance Samples</b><br>");
    for (var x = 0; x < data.dance.length; x++) {
        $('#samples').append(data.dance[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Rock/Pop Samples</b><br>");
    for (var x = 0; x < data.rock.length; x++) {
        $('#samples').append(data.rock[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Soul/Funk/Disco Samples</b><br>");
    for (var x = 0; x < data.soul.length; x++) {
        $('#samples').append(data.soul[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Jazz/Blues Samples</b><br>");
    for (var x = 0; x < data.jazz.length; x++) {
        $('#samples').append(data.jazz[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Reggae Samples</b><br>");
    for (var x = 0; x < data.reggae.length; x++) {
        $('#samples').append(data.reggae[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Country Samples</b><br>");
    for (var x = 0; x < data.country.length; x++) {
        $('#samples').append(data.country[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>World Samples</b><br>");
    for (var x = 0; x < data.world.length; x++) {
        $('#samples').append(data.world[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Soundtrack Samples</b><br>");
    for (var x = 0; x < data.soundtrack.length; x++) {
        $('#samples').append(data.soundtrack[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Classical Samples</b><br>");
    for (var x = 0; x < data.classical.length; x++) {
        $('#samples').append(data.classical[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Spoken Word Samples</b><br>");
    for (var x = 0; x < data.spoken.length; x++) {
        $('#samples').append(data.spoken[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Easy Listening Samples</b><br>");
    for (var x = 0; x < data.easy.length; x++) {
        $('#samples').append(data.easy[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Gospel Samples</b><br>");
    for (var x = 0; x < data.gospel.length; x++) {
        $('#samples').append(data.gospel[x] + "<br>");
    }
    $('#samples').append("<br>");

    $('#samples').append("<b>Other Samples</b><br>");
    for (var x = 0; x < data.other.length; x++) {
        $('#samples').append(data.other[x] + "<br>");
    }
    $('#samples').append("<br>");
  </script>
</html>