<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Artist Influence Graph | Samplify</title>
    <link REL="stylesheet" href="style.css" type="text/css" MEDIA=screen>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Font -->
   <link href='http://fonts.googleapis.com/css?family=Gudea:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  
  <link rel='stylesheet' href='/stylesheets/style.css'>

  </head>
  <body>
    <div class='header'>
      <h1 id='title'>SAMPLIFY</h1>
    </div>
    <div class='container'>
      <div class='blank-space'>
        <div class='inside-data'>

    <form action="/nodes" method="post">
      <ul >
        <li>Song  <input type="text" name="song" value="Bound 2" style="color:#d3d3d3; font-style:italic" > </li>
        <input type="submit">
      </ul>
    </form>
  </div>
</div>
</div>

  </body>
</html>